input [type='file']{
    background-color: black;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    margin-left: 2%;
    margin-right: 2%;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #5B88D1;
    border-radius: 100%;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 4px 12px 8px;
    cursor: pointer;
}
.optativo{
    color: red;
    font-size: x-small;
}

.archivoInput{
    display: flex;
    justify-content: flex-end;


}

.archivoLabel{
    display: flex;
    justify-content: space-between;
}