.marca{
    filter: invert(12%) sepia(45%) saturate(6263%) hue-rotate(232deg) brightness(107%) contrast(107%);
    width: 30px
}

.DatoSocio{
    display: grid;
    grid-template-columns:10% 10% 10% 10% 10% 10% 10% 10% 10% 10% ;
    align-items: baseline;
    ;
}

.DatoSocioContainer{
    padding-left: 1%;
    /* width: 30%; */
    
}