.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F7F6F9 ;
    padding: 20px;
    text-align: right;
}

.logo-osde{
    filter: invert(12%) sepia(45%) saturate(6263%) hue-rotate(232deg) brightness(107%) contrast(107%);
    width: 10vmax;
}

.horizontal{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #1226AA;
}

.vertical{
    display: flex;
    flex-direction: column;
}

.boton-azul{
    color: white;
    background-color: #5B88D1;
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.boton-gris{
    color: white;
    background-color: #ADAEB0;
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}


select {
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
input[type="text"] {
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
input[type="number"] {
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

hr{
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin: 20px 50px;
    border: 0;
    border-top: 1px solid #eee;
    
}